{% extends 'base.html' %}
{% block content %}
<div class="roomHeader">
    <h2 class="roomCode {{code}} {{ID}}">Chat room: {{code}}</h2>
</div>
<div class="messageBox">
    <div class="messages" id="messages"></div>
    <div class="inputChat">
        <input 
            type="text" 
            rows="3"
            placeholder="type a message"
            name="message"
            id="message"
        >
        <button
            type="button"
            name="send"
            id="sendButton"
            onclick="sendMessage()">
                     
        </button>
    </div>
</div>
<script type="text/javascript">
    class user {
        constructor (name, ID) {
            this.name = name;
            this.ID = ID;
        }
    }

    const thisUser = new user("{{ name }}", "{{ ID }}");
    var socketio = io();
    var orderMessage = 0;
    var orderNotifyText = 0;
    const messages = document.getElementById("messages");
    const message = document.getElementById("message");

    
    function getSizeOfInbox(stringMsg) {
        var textBox = document.querySelectorAll(".textBox");
        var text = document.querySelectorAll(".text");
        
        var maxWidthInbox = 500;

        var textCurrent = text[orderMessage];
        var textBoxCurrent = textBox[orderMessage];

        var length = textCurrent.offsetWidth + 1;
        if (length > maxWidthInbox) {
            var numRow = Math.ceil(length / 500);
            textBoxCurrent.style.width = '500' + "px";
            textBoxCurrent.style.heigth = numRow * 30 + "px";
            textCurrent.style.width = '500' + "px";
        }
        else
            textBoxCurrent.style.width = length + "px";
            textBoxCurrent.style.heigth = "30" + "px";
    }
    // <strong>${name}</strong>: ${msg}
    const createMessage = (sender, msg) => {
        var thisID = "{{ ID }}";
        const content = `
            <div class="messageDisplay">
                <span class = "textBox ${orderMessage} ${sender.name}">
                    <p class="text ${orderMessage}">
                        ${msg}
                    </p>
                </span>
                <span class="muted">
                    <!--${new Date().toLocaleString()}*/ -->
                </span>
            </div>
            `;
        messages.innerHTML += content;
        getSizeOfInbox(msg);
        var newMessageDisplay = document.querySelectorAll(".messageDisplay")[orderMessage];
        var newTextBox = document.querySelectorAll(".textBox")[orderMessage];
        if (sender.ID != thisID) { 
            newMessageDisplay.style.justifyContent = "flex-start";
            newTextBox.style.backgroundColor = "rgba(255, 255, 255, 0.839)";
            newTextBox.style.color = "black";
        }
        else {
            newMessageDisplay.style.justifyContent = "flex-end";
            newTextBox.style.backgroundColor = "rgb(47, 97, 222)";
            newTextBox.style.color = "white";
        }
        orderMessage++;
    };

    const createMessageNotify = (name, msg) => {
        var thisID = "{{ ID }}";
        const content = `
            <div class="notifyText">
                <span class="muted">
                    ${name} ${msg}
                </span>
            </div>
            `;
        messages.innerHTML += content;
        orderNotifyText++;
    }

    const classifyText = (data) => {
        if (data.textIndentiferCode == "!!!")
            createMessageNotify(data.name, data.message);
        else
            createMessage(new user(data.name, data.ID), data.message);
    }

    socketio.on("message", (data) => {
        classifyText(data);
    });


    const sendMessage = () => {
        if (message.value == "") return;
        socketio.emit("message", {data: message.value});
        message.value = "";
    };

    //press enter to send message
    message.onkeydown = function(e) {
        switch (e.which) {
            case 13:
                sendMessage();
                break;
        }
    };

</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage(new user("{{msg.name}}", "{{msg.ID}}"), "{{msg.message}}");
</script>
{% endfor %} 
{% endblock %}